*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
	background-color: black;
	color: white;
}

b{
	color: black;
}

a {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}
footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 50px; 
	background: gray;
	text-align: center;
}


.par h1{
	text-align: center;
	font-size: 60px;
	font-family: 'Allan';
}
.par h2{
	 font-family: 'Merienda';
	font-size: 40px;
}


.par p{
	color: #f2f2f2;
	text-align: center;
	font-size: 23px;
	color: white;
	margin-left: auto;
    margin-right: auto;
    width: 20em
	
	
}
.topnavigation a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.topnavigation a:hover {
	background-color: gray;
	color: black;
}

.topnavigation a.active {
	background-color: green;
	color: white;
}

/* Add padding to containers */
.container {
	padding: 16px;
}

.container a{
	color: white;
}
/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}
/* Set a style for the submit/register button */
.registerbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
/*grey background and center "sign in"*/
.signin {
	background-color: #f1f1f1;
	text-align: center;
	padding: 4px;
	
}
.signin p{
	color: black;
}
.place p{
	font-family: serif;
	font-size: 25px;
	color: #e2f8fb;
}
.place h2{
	font-family: serif;
	font-size: 40px;
	color: #75dfed;
}
.place h1{
	font-family: Times New Roman,serif;
	font-size: 70px;
	color: #1a8ce5;
}
.source h1{
	font-family: Times New Roman,serif;
	font-size: 70px;
	color: #1a8ce5;
}
.source h2{
	font-family: serif;
	font-size: 40px;
	color: #75dfed;
}